<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout.html :: header}"></th:block>
<div class="container">
    <button style="background-color: #ea9797; color: beige" type="button" class="btn  mt-4 " data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="create">
        Create User
    </button>


    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 800px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="userForm" >
                        <div class="row">
                            <div id="formBody">

                            </div>

                        </div>
                        <div class="mb-3">
                            <label for="oldPassword" class="form-label" id="oldPasswordLabel"> Old Password</label>
                            <input type="password" name="oldPassword" class="form-control" id="oldPassword" placeholder="Password">
                        </div>
                        <div>
                            <label for="password" class="form-label"> Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                        <div>
                            <label for="confirmPassword" class="form-label" id="confirmPasswordLabel"> Confirm Password</label>
                            <input type="password" class="form-control" id="confirmPassword" placeholder="Password">
                        </div>
                        <div>
                            <div>Avatar</div>
                            <label id="images" for="file">
                                <img class="avatar-preview" src="../assets/img/avatars/1.png" >
                                <input id="file" class="d-none" type="file"  onchange="previewImage(event)">
                            </label>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header">Table Basic</h5>
        <table class="table table-bordered table-striped">
            <tr>
                <th>No</th>
                <th style="width: 150px">Name</th>
                <th style="width: 150px">Email</th>
                <th style="width: 150px">Phone</th>
                <th style="width: 250px" id="header-publish-date">Date of birth</th>
                <th>Type</th>
                <th>Blocked</th>
                <th>Action</th>
            </tr>
            <tbody id="tBody">
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <nav aria-label="...">
                <ul class="pagination" id="pagination">

                </ul>
            </nav>
        </div>
    </div>
</div>

<th:block th:replace="~{layout.html :: footer}"></th:block>
<script src="/myjs/user.js"></script>
<script>
    var eMenubar = document.getElementsByClassName("menu-item");
    for (var i = 0; i < eMenubar.length; i++) {
        eMenubar[i].classList.remove("active");
    }
    document.getElementById("menu-user").classList.add("active");
    document.getElementById('userForm').addEventListener('submit', function(event) {

    });

</script>

</html>